name: Build and deploy Node.js app to Azure Web App - todoapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      # Install dependencies
      - name: Install npm dependencies
        run: npm install

      # FIX for Create React App babel issue
      - name: Install missing babel plugin
        run: npm install --save-dev @babel/plugin-proposal-private-property-in-object

      # Build React app
      - name: Build project
        run: npm run build

      # Upload only production build
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: react-build
          path: build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0EAA76610DC14CBAA118D273FE18715C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_AF8E431F5A3F4C68994630C804A0AF05 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E1067773ABB849D4A7D0E084F303BB9B }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'todoapp'
          slot-name: 'Production'
          package: build
